<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/chat.css')}}">
    <title>Chat</title>
</head>
<body>
    <header>
        {% include 'chat/_search_form.html' %}
        <a href="{{url_for('post_bp.posts')}}">posts</a>
        <a href="{{url_for('chat_bp.chats_user')}}">messages</a>
        <a href="{{url_for('post_bp.create_post')}}">create post</a>
        {%set username_token = g.token('username',current_user.username)%}
        <a href="{{url_for('profile_bp.profile',token=username_token)}}" style="border: solid 0px;">
            <img src="{{url_for('static',filename=current_user.avatar)}}" width="60px" height="60px" title="profile">
        </a>
    </header>
    <div class="wraper">
        {%for message in messages%}
        <div class="message">
            {%set username_token = g.token('username',message[2])%}
            <a href='{{url_for("profile_bp.profile",token=username_token)}}' style="border: solid 0px;">
                <img src='{{url_for("static",filename=message[1])}}' width="60px" height="60px" class="user_avatar">
            </a>
            <div>
                <a href='{{url_for("profile_bp.profile",token=username_token)}}' style="border: solid 0px; color: black;">
                    {{message.username}}
                </a>
                <p class="date">{{moment(message[0].date_send).fromNow()}}</p>
                <p class="message_user">{{message[0].message}}</p>
            </div>
        </div>
        {%endfor%}
        {{moment.include_moment()}}
        {{moment.lang('ru')}}
    </div>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.message()}}
        {{form.send()}}
    </form>
</body>
</html>