<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/change_profile.css')}}">
    <title>Change profile</title>
</head>
<body>
    <form action="{{url_for('profile_bp.change_profile',token=token)}}" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.username()}}
        {{form.about_me()}}
        {{form.change()}}
    </form>
</body>
</html>