*{box-sizing: border-box;}
html,body{
    width: 100%;
    height: 100%;
}
body{
    margin:0;
    position: fixed;
    background-color: #336699;
}
.wraper{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #6699CC;
    margin-bottom: 20px;
}
input[type='text']{
    background-color: #99CCFF;
    border-radius: 5px;
    font-size: 20px;
}
input[type='submit']{
    background-color: #003366;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    align-self: start;
    margin-top: 20px;
}
img{
    z-index: 1;
    border-radius: 50%;
}
input[type='file']{
    color: transparent;
    margin-top: 20px;
}
.part_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
p{
    margin:20px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-bottom: solid 2px white;
}
.avatar-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post-container{
    width:500px;
    height:400px;
    margin-right:30px;
    background-color: #99CCFF;
    padding: 40px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.page-container{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    overflow-x: scroll;
    border: solid 2px #003366;
    padding: 20px;
}
.page-container>a{
    padding: 20px;
    background-color: #003366;
    border-bottom: solid 0px ;
    border-radius: 30%;
    font-size: 22px;
    margin-right:10px;
}
.post{
    background-color: #003366;
    width: 80%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 26px;
}
.part_2>p{
    margin: 0;
    text-align: center;
    font-size: 24px;
    margin-bottom:10px;
}