<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <title>Login</title>
</head>
<body>
    <form action="{{url_for('auth_bp.login')}}" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.username()}}
        {{form.password()}}
        <div class="container">
            <div class="container-remember">
                <label for="remember_me">remember me</label>
                {{form.remember_me()}}</div>
            <a href="{{url_for('auth_bp.register')}}">register</a>
        </div>
        <div class="container-2">
            {{form.sign_in()}}
            <a href="{{url_for('auth_bp.reset_password')}}" class="reset_password">Забыли пароль?</a>
        </div>
        {%with messages = get_flashed_messages()%}
        <p class="messages">{{messages[0]}}</p>
        {%endwith%}
    </form>
</body>
</html>